.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../backgrounds/jury_page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: center;
    width: 78vw;

    .chapter {
      color: var(--red-color);
      font-size: 4.5rem;
      margin-bottom: 0.5rem;

      @media (max-width: 1024px) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      @media (max-width: 768px) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }

      @media (max-width: 480px) {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .answer {
      color: black;
      font-size: 2rem;
      margin-bottom: 3rem;
    }

  }
}