.window {
  display: flex;
  justify-content: right;
  align-items: right;
  background-image: url(../../../backgrounds/screen_saver_page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100vw;
  height: 100vh;
}
