.window {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url(../../../backgrounds/projector_page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  @media (max-width: 1024px) {
    padding: 0;
  }

  .correctAnswer {
    display: flex;
    flex-direction: row;

    .correctAnswer__header {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 1.5rem;
      font-family: "Helios";
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;

      .answer {
        font-size: 2rem;
        width: 50.2vw;
        color: var(--correct-color);
        background: rgba(90, 210, 94, 0.1);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(59, 172, 63, 0.3);
        text-align: center;

        @media (max-width: 1024px) {
          font-size: 2rem;
          padding: 1rem;
        }

        @media (max-width: 768px) {
          font-size: 1.7rem;
          padding: 1rem;
        }

        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }
    }
    .answerImageContainer {
      width: 40vw;
      height: 55vh;
      margin: 1rem;

      .answerImage {
        border-radius: 18px;
        object-fit: contain;
        min-width: 15vw;
        min-height: 15vh;
        width: 100%;
        height: 100%;
      }
      img {
        border-radius: 18px;
        max-width: 40vw;
        max-height: 55vh;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .timer {
      margin: 1rem;
    }

    .chapter {
      font-size: 3rem;
      color: var(--header-color);

      @media (max-width: 1024px) {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      @media (max-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 0.2rem;
      }

      @media (max-width: 480px) {
        font-size: 2rem;
      }
    }

    .question {
      font-size: 3rem;
      margin-bottom: 1rem;
      width: 75vw;
      display: flex;
      justify-content: center;

      @media (max-width: 1024px) {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }

      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }
  }

  .container {
    width: 40vw;
    height: 55vh;

    .image {
      border-radius: 18px;
      object-fit: contain;
      min-width: 15vw;
      min-height: 15vh;
      width: 100%;
      height: 100%;
    }
    img {
      border-radius: 18px;
    }
  }
}
