.window {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url(../../../backgrounds/projector_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  @media (max-width: 1024px) {
    padding: 0;
  }

  .correctAnswer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;

    .answerImageContainer {
      flex: 1;
      max-width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 1rem;
        min-width: 40vw;
        min-height: 55vh;
        max-width: 55vw;
        max-height: 70vh;
      }
    }

    .correctAnswer__header {
      flex: 1;
      max-width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 100%;
      font-family: "Helios";

      .answer {
        font-size: 2.5rem;
        background: rgba(90, 210, 94, 0.724);
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        border-radius: 0.5rem;
      }

      .answers {
        flex: 1;

        max-height: 100%;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .timer {
      margin: 1rem;
    }

    .chapter {
      font-size: 3rem;
      color: var(--header-color);

      @media (max-width: 1024px) {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      @media (max-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 0.2rem;
      }

      @media (max-width: 480px) {
        font-size: 2rem;
      }
    }

    .question {
      font-size: 3rem;
      margin-bottom: 1rem;
      width: 75vw;
      display: flex;
      justify-content: center;

      @media (max-width: 1024px) {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }

      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }
  }

  .container {
    width: 40vw;
    height: 55vh;

    .image {
      border-radius: 18px;
      object-fit: contain;
      min-width: 15vw;
      min-height: 15vh;
      width: 100%;
      height: 100%;
    }
    img {
      border-radius: 18px;
    }
  }
}
