.inpt {
   font-family: "Helios";
   font-size: 1.3rem;
   border: none;
   border-bottom: 1px solid var(--red-color);
   color: black;
   outline: none;
   margin: 1rem 0;
   width: 100%;

   @media (max-width: 768px) {
      margin-top: 0.75rem;
    }
}