.window {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .next {
    background-color: #4169e1;
    color: #fff;
    margin: 2rem;
    width: 18rem;
    height: 4rem;
    border-radius: 15px;
    padding: 1rem 2.7rem;
    font-size: 1.1rem;
    font-family: "Helios";
    border: none;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      background-color: #456fec;
    }

    &:focus,
    :focus-visible {
      background-color: #395ece;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: gray;
    }
  }

  .rating,
  .projector,
  .question,
  .timer {
    position: fixed;
    width: 50%;
    height: 50%;
    border: 1px solid gray;

    h1 {
      display: flex;
      justify-content: center;
    }
  }

  .rating {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .count {
      font-size: 2.5rem;
      text-align: center;
    }

    .count__btn {
      background-color: #38c665;
      color: #fff;
      margin: 2rem;
      width: 18rem;
      height: 4rem;
      border-radius: 15px;
      padding: 1rem 2.7rem;
      font-size: 1.1rem;
      font-family: "Helios";
      border: none;
      cursor: pointer;
      transition: border-color 0.25s;

      &:hover {
        background-color: #40dc67;
      }

      &:focus,
      :focus-visible {
        background-color: #31b465;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: rgb(128, 128, 128);
      }
    }
  }

  .question {
    top: 0;
    left: 50%;
  }

  .projector {
    top: 50%;
    left: 0;
  }

  .timer {
    top: 50%;
    left: 50%;

    .time {
      margin: 2rem 2rem 3rem;
    }
  }
}
