.btn {
  background-color: var(--red-color);
  color: #fff;
  margin: 2rem;
  width: 18rem;
  border-radius: 18px;
  padding: 1rem 2.7rem;
  font-size: 1.1rem;
  font-family: "Helios";
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: rgb(240, 6, 22);
  }

  &:focus,
  :focus-visible {
    background-color: rgb(197, 5, 18);
  }
}
