.rating {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: "Inter", sans-serif;

  th {
    padding: 1rem;
    font-size: 2rem;
  }

  td {
    width: 20vw;
    font-size: 2.2rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
  }
}
