.rating {
   text-align: center;

   tbody tr:nth-child(odd) {
     background-color: var(--red-color);
     color: white;
   }

   th {
     padding: 1rem;
     font-size: 2.8rem;
   }

   td {
     width: 19vw;
     font-size: 2.7rem;
   }
 }